body{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), 
    url("./public/coffee-bg.jpg");    
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}